<h2> Agregar un comentario </h2>
  <%= form_for :comment, :url => comment_offer_path do |f|  %>
    <%= f.text_area :body, :rows => "10", :class => classes %>
    <% unless user_signed_in? %>
      <%= recaptcha_tags %>
    <% end %>
    <div class="actions action-sidebar">
      <%= f.submit "Agregar comentario", :class => "btn primary" %>
    </div>
  <% end %>
