<h2>Comentarios</h2>
<% if resource.comments %>
  <ul class="unstyled">
  <% resource.comments.each do |comment| %>
    <li class="<%= cycle "grey", "white" %>">
      <span class="right"><%= comment.created_at %></span>
      <% if user_signed_in? %>
        <b><%= comment.user.username %></b> dijo:
      <% else %>
        <b>anon</b> dijo:
      <% end %>
      <p>
        <blockquote>
          <p><%= comment.body %></p>
        </blockquote>
      </p>
    </li>
  <% end %>
  </ul>
<% else %>
  Sin comentarios
<% end %>
