<h2>Comentarios</h2>
<% if resource.comments %>
  <ul class="unstyled">
  <% resource.comments.each do |comment| %>
    <li class="<%= cycle "grey", "white" %>">
      <span class="right"><%= comment.created_at %></span>
      alguien dijo:
      <p>
        <blockquote>
          <p><%= comment.body %></p>
        </blockquote>
      </p>
    </li>
  <% end %>
  </ul>
<% else %>
  Sin comentarios
<% end %>
