<table cellspacing="0" class="listado top-offers span12" summary="Ofertas de empleo destacadas" id="table_results_destacadas">
  <thead>
    <tr>
      <th></th>
      <th class="vacant" abbr="Puesto vacante">Puesto vacante</th>
      <th class="poblation" abbr="Población">Población</th>
    </tr>
  </thead>    
  <tbody>
    <% offers.each do |offer| %>
      <tr>
        <td>
          <%= link_to (image_tag "downvote.png"), '#', :class => "vote", "data-direction" => "down", "data-offer" => offer.id.to_s  %><br />
        </td>
        <td class="vacant">
          <div class="cell-text">
            <%= link_to offer.title, offer, :class => "list-title" %>
          </div>
        </td>
        <td class="poblation">
          <div class="cell-text">Madrid</div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
