<div id="content" class="full">

  <div id="front-slogan">
    <p id="slogan">9 de cada 10 ofertas precarias en Internet están aquí</p>
    <%= link_to '¡Agrega una oferta!', new_offer_path, :class => "btn primary" %>
  </div>

  <hr />

  <h1>Últimas ofertas</h1>
  
  <%= render :partial => "list", :locals => { :offers => @offers } %> 

  <span class="center">
    <%= link_to '¡Agrega una oferta!', new_offer_path, :class => "btn primary" %>
  </span>

</div>
