/* asset pipeline
*= require bootstrap
*= require bootstrap-responsive
*= require precajobs
*= require jquery.jgrowl
*/

.hidden {
  display:none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center { 
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#content {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #CCCCCC #C0C0C0 #C0C0C0 #CCCCCC;
    border-width: 1px;
  margin-right:auto;margin-left:auto; display:block;
    margin: 0;
    padding: 10px;
}

.sidebar {
    float: right;
    padding: 0;
}

.sidebar ul li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #CCCCCC #C0C0C0 #C0C0C0 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    line-height: 1.9em;
    margin-bottom: 20px;
    padding: 10px;
}

a {
    color: #D1700E;
}

.spinner {
  margin-top: 1em;
  margin-bottom: 1em;
}

.full {
}

.screenshot {
  margin: 2em;
}

.title {
  text-align: center;
  margin: 0.5em;
}

.action-sidebar {
  padding: 17px 20px 18px 50px;
}

.mt1 {
  margin-top: 1em !important;
}

.grey {
  background-color: #F2F2F2;
  margin:1em;
}

.white {
  background-color: #FFF;
  margin:1em;
}

blockquote p{
  font-style: normal;
}

.votes-count {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
}

.list-title{
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.list-comments{
  margin: 0.5em auto;
  font-weight: bold;
}

#haveit{
  color: white;
  font-weight: bold;
  background-color: #8A0808;
}

/* alerts flash or whatever */
.flash-messages{
  display: none;
}
  
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  opacity: 0.95;
  font-size: 1.2em;
}

.flash-notice{
  background-color: #5fba29 !important;
  font-weight: bold;
}

.flash-error, .flash-alert{
  background-color: #f40919 !important;
  font-weight: bold;
}


.pagination a:hover, .pagination .active a {
  background-color: grey;
}

/* end flashes */

.infobox { float:right; text-align:center; }


@media all and (max-width: 520px) {

  body {
    background-color: black;
  }

  .infobox { float:none; text-align:center; }

}
