/* asset pipeline
*= require inception
*= require jquery.jgrowl
*/

.hidden {
  display:none;
}

.right {
  float: right;
}

.left {
  float: left;
}

.center { 
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.spinner {
  margin-top: 1em;
  margin-bottom: 1em;
}

.full {
  width: 98% !important ;
}

#header #logo{
  color: #000000;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 35px;
}

#header #logo a{
  color: #FFFFFF;
  float: left;
  font-size: 50px;
  font-weight: normal;
  letter-spacing: -3px;
  text-decoration: none;
}

#header #slogan {
  color: #FFE0CC;
  float: left;
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 13px;
  letter-spacing: 0;
  margin-left: 12px;
  margin-top: 24px;
  padding-left: 4px; 
}

.screenshot {
  margin: 2em;
}

.title {
  text-align: center;
  margin: 0.5em;
}

.btn.primary {
  background-color: #151515;
  background-image: -moz-linear-gradient(center top , #424242, #1C1C1C);
}

.action-sidebar {
  padding: 17px 20px 18px 50px;
}

.mt1 {
  margin-top: 1em !important;
}

.grey {
  background-color: #F2F2F2;
  margin:1em;
}

.white {
  background-color: #FFF;
  margin:1em;
}

blockquote p{
  font-style: normal;
}

.votes-count {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  margin: 0 auto;
}

#front-slogan{
  text-align:center; 
}

#front-slogan #slogan{
  font-size: 2em;
}

.list-title{
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.list-comments{
  margin: 0.5em auto;
  font-weight: bold;
}

/* alerts flash or whatever */
.flash-messages{
  display: none;
}
  
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer {
  opacity: 0.95;
  font-size: 1.2em;
}

.flash-notice{
  background-color: #5fba29 !important;
  font-weight: bold;
}

.flash-error, .flash-alert{
  background-color: #f40919 !important;
  font-weight: bold;
}


