<p>Bienvenido <%= @resource.email %> a precajobs</p>

<p>Puedes confirmar tu cuenta a través del siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta', user_confirmation_path(:confirmation_token => @resource.confirmation_token) %></p>
